* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --col-12: calc(100% / 12 * 12);
    --col-4: calc(100% / 12 * 4);
    --col-6: calc(100% / 12 * 6);
    --col-3: calc(100% / 12 * 3);
}
.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}
.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}
.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}
.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}
.container {
    max-width: 1140px;
    margin: auto !important;
    padding: 0 15px;
    width: 100%;
}
.row {
    display: flex !important ;  
    flex-wrap: wrap !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding: 20px;
}
html {
    scroll-behavior: smooth;
}
header {
    max-width: 100%;
    min-height: 795px;
    margin: auto;
    background-image: url(./images/image_01.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: flex-start;

}
.justify-content-between {
    justify-content: space-between;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.flex-direction-colum {
    flex-direction: column;
}
header .container .row .col-12   nav ul{
    display: flex;
}
header .container .row .col-12   nav ul li{
    margin-left: 65px;
    font-size: 25px;
}
header .container .row .col-12   nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
}
header .container .row .col-12   nav ul li a:hover{
    color: #f64b3c;
}
header .container .row .col-12 H1{
font-size: 65px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
color: white;
margin-top: 90px;
}
header .container .row .col-12  p {
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
color: white;
margin-top: 44px;
line-height:34px;
}
header .container .row .col-12 button{
    width: 222px !important;
    min-height: 45px;
    margin-top: 54px;
    background-color: #f64b3c;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: none;
}
#team .container .row .col-12 h1{
    text-align: center;
    color: #f64b3c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 35px;
}
#team .container .row .col-12 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #f64b3c;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 85px;
}
#team .container .row  .card{
    text-align: center;
    margin-bottom: 147px;
}
#team .container .row  .card img {
border-radius: 50%;
}
#team .container .row  .card h1{
    color: #f64b3c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
}
#team .container .row  .card p{
    color: #f64b3c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}
.number1{
    background-color: #f64b3c;
}
#producs .number1 .container .row .col-6 img {
border-radius: 50%;
margin-top: 170px;

margin-bottom: 150px;
}
#producs  .number1 .container .row .col-6 h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    margin-top: 250px;
}
#producs .number1 .container .row .col-6 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    line-height: 30px;
}
#producs .number1 .container .row .col-6 button{
    width: 222px !important;
    min-height: 45px;
    margin-top: 54px;
    background-color: white;
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
    color: #f64b3c;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: none;
}
.number2{
    background-image: url('./images/D-_get-cashback_3639733_02.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#producs .number2 .container .row .col-6 img {
    border-radius: 50%;
    margin-top: 170px;
    margin-bottom: 50px;
    }
    #producs  .number2 .container .row .col-6 h1{
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #f64b3c;
        margin-bottom: 40px;
        margin-top: 250px;  
    }
    #producs .number2 .container .row .col-6 p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #f64b3c;
        line-height: 30px;
    }
    #producs .number2 .container .row .col-6 button{
        width: 222px !important;
        min-height: 45px;
        margin-top: 54px;
        cursor: pointer;
        background-color: #f64b3c;
        font-size: 16px;
        letter-spacing: 3px;
        color: white;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 25px;
        border: none;
    }
    #statics{
        background-color: #f64b3c;
    }
    #statics .container .row .col-12 h1{
        font-size: 40px;
        text-align: center;
 color: white;
        font-weight: 700;
    }
    #statics .container .row .col-12 p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-top: 50px;
        color: white;
    }
    #statics .container .row .col-4 .card{
        text-align: center;
        max-width: 310px;
        min-height: 310px;
        border-radius: 50%;
        margin-top: 62px;
        margin-bottom: 100px;
        border: 3px solid white;
    }
    #statics .container .row .col-4 .card h1{
        margin-top: 90px;
        font-size: 100px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    #statics .container .row .col-4 .card  p{
        font-size: 30px;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
    }
    #package{
        background-image: url('./images/D-_get-cashback_3639733_02.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #package .container .row .col-12 h1{
        text-align: center;
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #f64b3c;
        margin-top: 55px;
        margin-bottom: 160px;
    }
#package .container .row .col-4 .card{
    max-width: 315px;
    min-height: 400px;
    background-color: white;
    text-align: center;
    margin-bottom:80px ;
}
::selection{
    color: white;   
    background-color: #f64b3c;
}
#package .container .row .col-4 .card h2 {
font-size: 30px;
text-align: center;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight: 700;
color: #f64b3c;
padding-top: 34px;
padding-bottom: 30px;
}
#package .container .row .col-4 .card img{
display: flex;
    margin: auto;
    margin-bottom: 40px;
}
#package .container .row .col-4 .card h4{
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
color: #f64b3c;
font-weight: 700;
margin-bottom: 24px;
}
#package .container .row .col-4 .card p{
    color: #f64b3c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 10px;
    font-size: 20px;
}
#package .container .row .col-4 .card button{
    width: 222px !important;
    min-height: 45px;
    background-color: #f64b3c;
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-top: 23px;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
#text{
    background-image: url('./images/backimg_10.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#text .container .row .col-12 p {
font-size: 25px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
color: white;
margin-top: 240px;
margin-bottom: 82px;
}
#text .container .row .col-12 h1{
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 250px;
}
#contact{
    background-image: url('./images/D-_get-cashback_3639733_02.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#contact .container .row .col-12 h1{
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 260px;
    color: #f64b3c;
    margin-bottom: 70px;
}
#contact .container .row .col-12 p{
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #f64b3c;
    margin-bottom: 82px;
}
#contact .container .row .col-6  input{
width: 550px;
   min-height: 60px;
   outline: none;
  border-radius: 20px;
   border: none;
   margin-left: 25%;
   padding-left: 30px;
   font-size: 20px;
}
#contact .container .row .col-6 .rec {
    max-width: 233px;
  border-radius: 20px;
  margin-left: 30%;
    background-color: #f64b3c;
   font-size: 30px;
   text-transform: uppercase;
   padding-right: 40px;
    color: white;
    margin-bottom: 250px;
}
#footer{
    display: flex;
    background-color: #222222;
}
#footer .container  .col-12 h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 37px;
    margin-top: 200px;
} 
#footer .container  .col-12 p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    line-height: 29px;
    margin-bottom: 37px;
}
#footer .container  .col-12 i{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 15px;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    color: #222222;
    margin-bottom: 100px;
}
#footer .container  .col-12 i:hover{
    color: #f64b3c;
    cursor: pointer;
}
#footer .container .row .col-4 h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
margin-top: 76px;
    padding-bottom: 38px;
}

#footer .container .row .col-4 ul li{
    margin-bottom: 16px;
}
#footer .container .row .col-4 ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
color: white;
}
#footer .container .row .col-4 ul li a:hover{
    color: #f64b3c;
}
#footer .container .row .col-4 ul li a:active{
    color: #f64b3c;
}
@media(max-width:576px){
    .col-sm-12{
        width: var(--col-12);
    }
    header .container .row nav img{
        margin: auto;
    }
    header .container .row .col-12 H1{
        font-size: 35px;
        text-align: center;
    }
    header .container .row .col-12 p{
text-align: center;
    }
    #producs .number1 .container .row .col-6 h1{
        margin-top: -100px;
    } 
    #producs .number2 .container .row .col-6 img{
max-width: 270px;
height: 270px;  
    }
    #producs .number1 .container .row .col-6 img{
        max-width: 270px;
        height: 270px;  
            }
            #contact .container .row .col-6  input{
                width:270px;
                margin: auto;
            }
            #contact .container .row .col-6  .rec{
               width: 250px;
                margin: auto;
                margin-top: 30px;       
            }
            #footer .container .row .col-12 p{
                font-size: 12px;
            }
            #footer{
                display: flex;
                flex-wrap: wrap;
            }
}
@media(min-width:578px) and (max-width:768px){
    .col-md-6{
        width: var(--col-6);
    }
    .col-md-4{
        width: var(--col-4);
    }
    .col-md-12{
        width: var(--col-12);
    }
    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    header .container .row nav img{
        margin: auto;
    }
    #contact .container .row .col-6  input{
        width:450px;
        margin: auto;
    }
    #contact .container .row .col-6  .rec{
        margin: auto;
        margin-top: 30px;
    }
    #producs .number1 .container .row .col-6 h1{
        margin-top: -100px;
        font-size: 80px;
    } 
    #producs .number2 .container .row .col-6 h1{
        font-size: 80px;
    }
    #producs .number2 .container .row .col-6 p{
        font-size: 30px;
        line-height: 40px;
    }
}
@media(min-width:769px) and (max-width:992px) {
    .col-lg-6{
        width: var(--col-6);
    }
    .col-lg-4{
        width: var(--col-4);
    }
    .col-lg-12{
        width: var(--col-12);
    }
    header .container .row nav h1{
        margin: auto;
    }       
    #producs .number1 .container .row .col-6 h1{
        margin-top: -100px;
    } 
    #producs .number1 .container .row .col-6 h1{
        margin-top: -100px;
        font-size: 80px;
    } 
    #contact .container .row .col-6  input{
        width:390px;
    }
    #producs .number2 .container .row .col-6 h1{
        font-size: 80px;
    }
    #producs .number2 .container .row .col-6 p,#producs .number1 .container .row .col-6 p{
        font-size: 30px;
        line-height: 40px;
    }
}